* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

.wrapper {
 display: flex;
 gap: 20px;
 padding: 40px;
 background-color: #f5f5f5;
}

.card.special {
 position: relative;
 top: -10px;
 left: 10px;
 background-color: lightyellow;   
}