body {
    text-align: center;
    padding: 30px;
    font-family: sans-serif;
    color: white;
}
button {
   padding: 10px 20px;
   margin: 10px;
   font-size: 10px;
   cursor: pointer;
   border: 3px solid rgb(255, 254, 254);
   transition: background-color 0.9s;
   border-radius: 3px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.merah {
    background: red;
    color: white
}
.merah:hover {
    background-color: orange;
}
.biru {
    background: blue;
    color: white;
}
.biru:hover {
    background-color: aqua;
    color: white;
}
.hijau {
    background: green;
    color: white;
}
.hijau:hover {
    background-color: lightgreen;
}
